<h1>Результаты теста: <%= test.title %>
</h1>

<p>Правильных ответов: <%= score %> из <%= test.questions.length %>
</p>
<p>Процент правильных ответов: <%= percent %> %</p>

<a href="/tests">Вернуться к тестам</a>